[submodule "System-Design/karanPrataps-systemDesign"]
	path = System-Design/karanPrataps-systemDesign
	url = https://github.com/karanpratapsingh/system-design
[submodule "System-Design/ByteByteGo"]
	path = System-Design/ByteByteGo
	url = https://github.com/ByteByteGoHq/system-design-101
[submodule "System-Design/system-design-resources"]
	path = System-Design/system-design-resources
	url = https://github.com/InterviewReady/system-design-resources
[submodule "System-Design/awesome-low-level-design"]
	path = System-Design/awesome-low-level-design
	url = https://github.com/ashishps1/awesome-low-level-design
[submodule "System-Design/system-design-primer"]
	path = System-Design/system-design-primer
	url = https://github.com/donnemartin/system-design-primer
